.title{
    color: blue;
    font-size: 40px;
    text-align: center;
}
.name{
    font-size: 36px;
}
.price{
    font-size: 36px;
}
.tax{
    font-size: 36px;
}
.table{
    font-size: 36px;
}
.table tr td input{
    height: 30px;
}
.btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(151, 10, 10);
    border: 1px solid rgb(12, 4, 4);
    font-size: 36px;
    background:rgb(169, 9, 243);
    cursor: pointer;
}
.homescreen{
    display: flex;
}
.secondtable, .firsttable{
    table-layout: fixed;
    display: flex;
    margin-left: 20px;
    border: 1px solid rgb(12, 4, 4);
    border-radius: 20px;
    display: inline-block;
    padding: 12px 34px;
    margin-right: 20px;
    width:50%;
}
.secondtable td , .firsttable td{
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.secondtable input{
    border: transparent;
}
.print{
    color: rgb(0, 0, 0);
    margin-top: 20px;
    width: 100%;
    text-align: center;
    height: 100px;
    background-color: green;
}
.dateTime{
    font-size: 36px;
}
@media(max-width: 700px) {
    .title{
        color: teal;
    }
    .homescreen{
        color: rgb(0, 0, 0);
        width: 338px;
        display: block;
        margin-right: 2px;
    }
    .btn{
        background-color: tomato ;
    }
    .print{
        background-color:green ;
        width: 400px;
        justify-content: center;
        text-align: center;
    }
    .firsttable, .secondtable{
        table-layout: fixed;
        width: 100%;
        margin: 0 auto;
    }
}
.longtext{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.textarea{
    height: 100px;
    width: 171px;
    margin-top: 10px;
}
.des{
    padding-top: 20px;
    font-size: 36px;
    font-weight: 100;
}
.secondtable span{
    font-size: 20px;
}
.dateTime{
    font-size: 20px;
    width: 200px;
}.textarea2{
    color: rgba(84, 85, 85, 0.979);
    font-weight:500;
}
